@model IEnumerable<AspNet5Identity.WEB.Models.DetailModel>

<table class="table">

    <thead>
        <tr>
            <th>@Ajax.ActionLink("First name", "SortUsersAjax", new { sort = ViewBag.FirstName }, 
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Last name", "SortUsersAjax", new { sort = ViewBag.LastName }, 
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Email", "SortUsersAjax", new { sort = ViewBag.Email },
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Phone number", "SortUsersAjax", new { sort = ViewBag.PhoneNumber },
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.FirstName)</td>
                <td>@Html.DisplayFor(m => item.LastName)</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
            </tr>
        }
    </tbody>    

</table>
