@model AspNet5Identity.WEB.Models.UsersModel

<table class="table">

    <thead>
        <tr>
            <th>@Ajax.ActionLink("First name", "GetUsersAjax", new { search = Model.Search, sort = ViewBag.FirstName }, 
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Last name", "GetUsersAjax", new { search = Model.Search, sort = ViewBag.LastName },
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Email", "GetUsersAjax", new { search = Model.Search, sort = ViewBag.Email },
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Phone number", "GetUsersAjax", new { search = Model.Search, sort = ViewBag.PhoneNumber },
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in (Model as AspNet5Identity.WEB.Models.UsersModel).Users)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.FirstName)</td>
                <td>@Html.DisplayFor(m => item.LastName)</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
            </tr>
        }
    </tbody>    

</table>
