@model IEnumerable<AspNet5Identity.WEB.Models.DetailModel>

<table class="table">
    <thead>
        <tr>
            <th>@Ajax.ActionLink("First name", "UsersAjax", new { sort = ViewBag.FirstName }, 
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Last name", "UsersAjax", new { sort = ViewBag.LastName }, 
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Email", "UsersAjax", new { sort = ViewBag.Email },
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>
            <th>@Ajax.ActionLink("Phone number", "UsersAjax", new { sort = ViewBag.PhoneNumber },
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "users-table" })</th>

            @*<th>@Html.ActionLink("First name", "Users", new { sort = ViewBag.FirstName })</th>
            <th>@Html.ActionLink("Last name", "Users", new { sort = ViewBag.LastName })</th>
            <th>@Html.ActionLink("Email", "Users", new { sort = ViewBag.Email })</th>
            <th>@Html.ActionLink("Phone number", "Users", new { sort = ViewBag.PhoneNumber })</th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.FirstName)</td>
                <td>@Html.DisplayFor(m => item.LastName)</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
            </tr>
        }
    </tbody>
    

</table>
